# Git
.git
.gitignore

# Docker
.docker

# Python
african_genomics_medicine_portal/__pycache__/
african_genomics_medicine_portal/*/__pycache__/
african_genomics_medicine_portal/*/*/__pycache__/
african_genomics_medicine_portal/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/
