.git/
env/
*.ipynb
__pycache__
.ipynb_checkpoints
.editorconfig
docker-compose.yml
Dockerfile

.dockerignore
notes.md
README.md
create-docker-compose-service.sh
.gitignore
.python-version
.env
agmp-portal.service
scripts/
docs/
incoming/
config

**/.git