appdirs
astroid
certifi
chardet
distlib
Django==2.2.24
django-agnocomplete
django-bootstrap4
django-crispy-forms
django-leaflet
django-extensions
filelock
gdal
idna
importlib-metadata
isort
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
packaging
pluggy
py
pylint
pylint-django
pylint-plugin-utils
pyparsing
pytz
requests
six
sqlparse
toml
tox
typed-ast
urllib3
virtualenv
wrapt
zipp
WhiteNoise
