django==3.2.*
django-agnocomplete # old version ==0.14.0
django-bootstrap4
django-crispy-forms
django-extensions
django-leaflet
folium # old version ==0.12.1.post1
geocoder # old version ==1.38.1
gunicorn
whitenoise
pandas # old version ==1.4.3
django-pandas
django-autocomplete-light
openpyxl
python-memcached

