django==5.2.10
djangorestframework==3.16.1
django-agnocomplete # old version ==0.14.0
django-bootstrap4
django-crispy-forms
django-extensions
django-leaflet
folium # old version ==0.12.1.post1
geocoder # old version ==1.38.1
reverse_geocoder
gunicorn
whitenoise
pandas # old version ==1.4.3
django-pandas
django-autocomplete-light
openpyxl
python-memcached
graphviz
pymemcache
geopandas
django-cors-headers
python-dotenv==0.21.0
django-environ==0.9.0
psycopg2-binary
psycopg[binary]
python-Levenshtein
fuzzywuzzy==0.18.0 
pydotplus
reverse_geocoder
django-filter
openpyxl
