 /* this css file is for projects specific overides */
/* changes here will overide h3abionet.css */

/* body{
  font-size: 18px;
} */


body
{
  font-family: 'Roboto','Verdana', sans-serif ;

  font-weight: 300 !important;
  line-height: 1.6;
  

}

#header_top_1 {
  font-family: 'Verdana';
  font-weight: 300 !important;
  margin-top: 1.6rem;
  margin-left: 1.5rem;
  color:  rgb(15, 14, 14);
  /* margin-left:25px; */
 
 
}
/* 
white circle as background of top  left logo */
.dot {
  height: 30px;
  width: 30px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
}





.margin_on_top_image{
  margin-right:5px;
}


/* h3{
  font-size:8px !important;
  
} */





.bg-mibio {
  background-color: #337ab7;
  border-bottom: 2px #337ab7 solid;
}



.text-bigblue {
  color: white !important;
}


#logo {
  position: absolute;
  /* display:flex; */
  top: 20px;
}

#logotext {
  /* position: absolute; */
  /* display:flex; */
  margin-left: 50px;
}

.search {
  margin-top: 5%;
}

/* CHECKBOXES */
.search_type {
  display: inline-block;
  /* text-align: center; */
  /* margin-left: 18%; */
  margin-top: 20px;
}

.search_type .regular-checkbox {
  background-color: #688dc157;
}

.search_type label {
  display: inline;
}

.search_type .regular-checkbox {
  display: none;
}

.search_type .regular-checkbox+label {
  background-color: #688dc157;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.search_type .regular-checkbox+label:active,
.regular-checkbox:checked+label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.search_type .regular-checkbox:checked+label {
  background-color: #688dc1;
  border: 1px solid #adb8c0;
  color: #000;
}

.search_type .regular-checkbox:checked+label:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #fff;
}


.search_type .big-checkbox+label {
  padding: 18px;
  width: 96px;
  height: 80px;
  margin: 12px 37px 10px;
}

.search_type .big-checkbox:checked+label:after {
  font-size: 28px;
  left: 6px;
}

.search_type #checkbox_2_1 {
  background-image: url(../img/noun_Disease_2078983.svg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.search_type #checkbox_2_2 {
  background-image: url(../img/noun_Drug_2227411.svg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.search_type #checkbox_2_3 {
  background-image: url(../img/noun_choice_of_option_2765906.svg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

.search_type #checkbox_2_4 {
  background-image: url(../img/noun_genes_1767492.svg);
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
}

/* RESULTS */
.result-container {
  border: #688dc157 1px solid;
  border-radius: 10px;
  padding: 20px;
}
.list-data {
  border: 2px solid white;
  border-radius: 7px;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
}
.snippet {
  font-size: 0.9em;
  color: #27405e;
  font-weight: 200;
}
.title {
  font-size: 1em;
  color: #27405e;
  /* font-weight: 500; */
  margin-top: 40px;
  text-decoration: none;
}
.empty-section {
  margin-top: 10%;
  text-align: center;
  font-style: italic;
}

.page-footer{
  background-color: #f4faff;
  color: #000000;
  position:initial;
  bottom:0;
  width:100%;
  height:160px;
  padding: 20px 0px 0px 100px;
  flex-shrink: 0;
  margin-top: 30px;
  font-size: 0.8em;
  border-top: 4px #337ab7 solid;
}

.col .footer-link {
  color: #fff;
}

.page-footer a {
  color: #337ab7;
}

#detail-table th {
  font-size: 16px;
}

#detail-table tr {
  font-size: 14px;
}

/* @media (min-width: 1200px){
  .container {
      max-width: 1140px;
      min-height: 800px;
  }
} */

.page-footer .container-fluid, .page-footer .row {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.faqs > li {
  padding-top: 25px;
}

.img-responsive {
  width: 150px;
  height: auto;
}

/* The sidebar menu */
.sidenav {
  /* position: fixed; */
  z-index: 1;
  margin-top: 2em;
  background: #eee;
  overflow-x: hidden;
  /* padding: 8px 0; */
}

.sidenav a {
  padding: 10px 60px 10px 30px;
  text-decoration: none;
  font-size: 21px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* footer css 22october */
.page-footer_new {
  background-color: #337ab7;
  color: #ffffff !important;
  /* position: initial; */
  /* bottom: 0; */
  /* width: 100%; */
  /* height: 160px; */
  /* padding: 20px 0px 0px 100px; */
  /* flex-shrink: 0; */
  margin-top: 1rem;
  font-size: 0.8em;
}

.panel {
  border-radius: 0.3rem;
  padding: 0.7rem;
  margin-bottom: 0rem;
  margin-right: 1rem;
}


		/* 
  ######## css for background image######## */
  .header_top_bg {
    /* height: 100%; */
    background: url("/static/img/banner9.jpeg");
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    min-height: 20vh;
    margin-top: 0%;
  }


  /* 
######## vertically center overlay text using flexbox ######## */
	.vcenter-item {
    display: flex;
    align-items: center;
    justify-content: center;


  }

  /*
######## css for overlay text in top header ######## */
  .header_top_bg .text_top_bg {



    color:#fff;
    font-size: 18px;
    font-family: Roboto;
    /* text-align: center; */
    text-transform: sentencecase;
    background: rgba(0, 0, 0, 0.4);
    padding: 11.5px !important;
    /* position: relative; */
    /* top: 23%;
    left: 50%; */
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto ;
  }

   h3{
    font-size: 36px !important;
  } 

  .top_title_text{

  margin-top: 1.25rem;
  margin-left: 0px;
    
 }

  /* css for side bar and content area  */

 .page-section {
  /* height: 480px; */
  /* width: 80%;
      margin-left: 35%; */
  margin-top: 3%;
  padding: 2em;
  /* background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);
  color: white; */
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.navigation {
  /* position: fixed; */
  /* top: 0%; */
  width: 100%;
  /* margin-left: 2%; */
  /* margin-top: 0; */
  background-color: lightgray;
  color: #fff;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);



}

ul .no_style {
  list-style-type: none;
}