{% extends 'mainLayout.html' %}
{% block title%}404{% endblock %}

{% block banner %}


{% include 'partials/banner_404.html' %}

{% endblock %}

{% block content %}


<div class="row">
  <div class="flexBox" style="
    display: flex;
    flex-flow: row wrap;
    justify-content: center;">
    <span> <h3 class="text-center mt-6">404, Page not found !</h3> </span>
   <span> <p class="text-center">We cannot find the page you are looking for. You can either return to the previous page or 
      visit our homepage  </p> </span>
  </div>
</div>





{% endblock %}

{% block js %}


{% endblock %}