{% extends "mainLayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />  
{% block title %}Search{% endblock %}

{% block js %}
{% comment %} <script src="{% static 'js/search.js' %}" type="text/JavaScript"></script> {% endcomment %}
{% endblock %}




{% block banner %}


{% include 'partials/banner_search.html' %}

{% endblock %}
{% block content %}


<style>    


.centered-columns {
    display: flex;
    justify-content: center;
  }

  #id_search_query{
    width:100%;
  }
  .btn{
    width:100%;
  }
 
 </style>

<form class="search_form" method="post">
    {% csrf_token %}
    <div class="search_form">


        <div class="row centered-columns">
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.3}}  <img src="{% static 'img/noun_Disease_2078983.svg' %}" alt="Image" width="25%"> </div>
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.2 }}  <img src="{% static 'img/noun_Drug_2227411.svg' %}" alt="Image" width="25%"> </div>
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.0 }} <img src="{% static 'img/noun_choice_of_option_2765906.svg' %}" alt="Image" width="25%"> </div>
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.1 }} <img src="{% static 'img/noun_genes_1767492.svg' %}" alt="Image" width="25%"> </div>


        </div>

        <div class="row centered-columns mt-3 mb-3 ml-7">

            <div class="col-md-9 col-sm-9 text-center" onkeyup="search_animal()">{{ form.search_query}}</div>
            <div class="col-md-3 col-sm-3 text-center ">
                <button class= "btn btn-success btn-sm" type="submit">Search</button> </div>


        </div>
    
    

       
        
  
    </div>
</form>



    {% if search_option == "Variantagmp" %}
   
            {% for result in results %}
                <b>Variant ID: </b>{{ result.rs_id}}<br>
                <b>Chromosome: </b>{{result.geneagmp__chromosome}}<br>
                <b>Gene: </b>{{ result.geneagmp__gene_id}}<br>
                <a href="{% url 'Var_Drug_Assoc' result.rs_id %}">Variant-Drug Associations </a> <br>
                <a href="{% url 'Variant_Disease_Assoc' result.rs_id %}">Variant-Disease Associations </a><br>
                <hr>
            {% empty %}
                <p>No results found.</p>
            
            {% endfor %} 
 
    {% elif search_option == "Geneagmp" %}
 
            {% for result in results %}

                <b>Gene </b>{{ result.gene_id}}<br>
                <b>Chromosome: </b>{{result.chromosome}}<br>
                <a href="{% url 'PhamacogeneDrugAssoc' result.gene_id %}">Gene Associations </a> <br><hr>
            {% empty %}
                <p>No results found.</p>

            {% endfor %}   

    {% elif search_option == "Drugagmp" %}

            {% for result in results %}

                <b></b>{{result.drug_name}}<br>
                <b>Drug Bank ID: </b><a href="https://go.drugbank.com/drugs/{{result.drug_bank_id}}">{{result.drug_bank_id}}</a>
                <br>
                <b>State: </b>{{result.state}}<br>
                <a href="{% url 'VariantDrugAssociation' result.drug_id %}">Varian-Drug Associations</a><br> 
                <hr>

            {% empty %}
            <p>No results found.</p>

            {% endfor %}   

  {% elif search_option == "Disease" %}

            {% for result in results %}
          
                <b></b>{{result.phenotypeagmp__name}}<br>
              
                 <a href="{% url 'DiseaseVariant' result.phenotypeagmp__name %}">Variant-Disease Associations</a><br><hr>


              {% empty %}
              <p>No results found.</p>
              
            {% endfor %}  
 
 
 
  {% else  %}
          

  {% endif %}
 
 </div>

</div>

        {% endblock %}


   
        <script>

        </script>
        

