{% extends 'mainLayout.html' %}
{% block title %}Tools and Pipelines{% endblock %}
{% block content %}

<h3 class="text-center">Tools and Pipelines</h3>

<!-- <p>
    The resources listed contain links to other websites originating
    from and maintained by third parties. Though updated regularly,
    these links are not monitored, or checked for accuracy, adequacy,
    validity, reliability, availability, or completeness by us.
</p>
<p>
    The following pages contains tools relevant to implementation of research and healthcare practices of precision
    medicine and pharmacogenomics.
</p> -->

<div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="font-weight-normal">Name</th>
                <th scope="col" class="font-weight-normal">Resource Type</th>
                <th scope="col" class="font-weight-normal">Description</th>
            </tr>
        </thead>
        <tr>
            <td><a target="_blank" href=http://www.scandb.org />SCAN </a> </td>
            <td>Data Analysis Tool</td>
            <td>SNP annotation, GWAS analysis tool</td>
        </tr>

        <tr>
            <td><a href=https://omictools.com/pharmacogenetics-category>Pharmacogenomic Software
                    Tools</a>
            </td>
            <td>Data Analysis Tool</td>
            <td>Various tools for pharmacogenomics data analysis.</td>
        </tr>

        <tr>
            <td><a href=https://www.pharmgkb.org/page/pharmcat>PharmCAT </a> </td>
            <td>Data Analysis Tool
            </td>
            <td>Pharmacogenomics Clinical Annotation Tool</td>
        </tr>
    </table>
</div>

{% endblock %}