 {% extends 'mainLayout.html' %} 

 {% load static %}

{% block title %} Variant Drug Associations {% endblock %}


{% block banner %}

{% include 'partials/banner_results.html' %}

{% endblock %}

{% block content %}
<!-- Imcomplete details-->

{% comment %} <h3>{{data.phenotypeagmp__name}} {% endcomment %}
<hr>
<p><b>Disease : </b>{{data.phenotypeagmp__name}}</p>




<p><h3>Variant-Disease Associations </h3></p>
<div class="table-responsive-sm">
<table id="example" class="table table-striped table-bordered">
  <thead>
      <tr>
          <th>Variant</th>
          <th>Gene</th>
          <th>Disease</th>
          <th>Significance</th>
          <th>Region</th>
          <th>Country</th>
          <th>Study</th>
          <th>Variant Type</th>
          <th>Source DB</th>
          <th>Mixed population</th>
          <!-- <th>Study Type</th> -->
      </tr>
  </thead>
  <tbody>
 {% for my_object in object_list %}
      <tr>
          <td>{{my_object.variantagmp.rs_id}}</td>
          <td>
            <a href="/PhamacogeneDrugAssoc/{{my_object.variantagmp.geneagmp.gene_id }}"> {{my_object.variantagmp.geneagmp.gene_id }}</a>
          </td>
          <td>{{my_object.variantagmp.phenotypeagmp.name}}
            <td>{{my_object.p_value}}</td>
            <td>{{my_object.geographical_regions}}</td>
            <td>{{my_object.country_participant}}</td>
          <td><a href="https://pubmed.ncbi.nlm.nih.gov/{{my_object.studyagmp.publication_id}}">{{my_object.studyagmp.publication_id}}</a>
        </td>
        <td>{{my_object.variantagmp.variant_type }}</td>
        <td>{{my_object.variantagmp.source_db }}</td>
        <!-- <td>{{my_object.studyagmp.study_type}}</td> -->
        <td>{{my_object.mixed_population }}</td>
      </tr>

      {% empty %}


      {% endfor %}  
      <!-- ... more rows ... -->
  </tbody>
</table>

</div>



<!-- Include required CSS and JS files -->

<script type="text/javascript">




$(document).ready(function() {
 function initializeTable(tableId, columnSelectId) {
    var table = $(tableId).DataTable({
        dom: 'lBfrtip',
        buttons: [
            {
                extend: 'collection',
                text: 'Export',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ]
            },
            'colvis'
        ],
        columnDefs: [{
            targets: '_all',
            visible: true
        }]
    });

    // Get the total number of columns
    var columnCount = table.columns().nodes().length;

    // Hide last three columns by default
    for (var i = 1; i <= 3; i++) {
        table.column(columnCount - i).visible(false);
    }

    // Create checkboxes for column selection
    table.columns().every(function(index) {
        var column = this;
        var checked = column.visible() ? 'checked' : '';
        var checkbox = $('<label><input type="checkbox" ' + checked + '>' + $(column.header()).text() + '</label>');

        // Handle checkbox click event
        checkbox.find('input').on('click', function() {
            var isChecked = this.checked;
            column.visible(isChecked);
        });

        $(columnSelectId).append(checkbox);
    });
 }

 initializeTable('#example', '#columnSelect1');
 // initializeTable('#example3', '#columnSelect2');
});
 



</script>

{% endblock %}