 {% extends 'mainLayout.html' %} 



{% block title %} Variant Drug Associations {% endblock %}


{% block banner %}

{% include 'partials/banner_results.html' %}

{% endblock %}

{% block content %}
<!-- Imcomplete details-->

{% comment %} <h3>{{data.phenotypeagmp__name}} {% endcomment %}
<hr>
<p><b>Disease : </b>{{data.phenotypeagmp__name}}</p>




<p><h3>Variant-Disease Associations </h3></p>
<div class="table-responsive-sm">
<table id="example" class="table table-striped table-bordered">
  <thead>
      <tr>
          <th>Variant</th>
          <th>Gene</th>
          <th>Disease</th>
          <th>Significance</th>
          <th>Region</th>
          <th>Country</th>
          <th>Study</th>
      </tr>
  </thead>
  <tbody>
 {% for my_object in object_list %}
      <tr>
          <td>{{my_object.variantagmp.rs_id}}</td>
          <td>
            <a href="/PhamacogeneDrugAssoc/{{my_object.variantagmp.geneagmp.gene_id }}"> {{my_object.variantagmp.geneagmp.gene_id }}</a>
          </td>
          <td>{{my_object.variantagmp.phenotypeagmp.name}}
            <td>{{my_object.p_value}}</td>
            <td>{{my_object.geographical_regions}}</td>
            <td>{{my_object.country_participant}}</td>
          <td><a href="https://pubmed.ncbi.nlm.nih.gov/{{my_object.studyagmp.publication_id}}">{{my_object.studyagmp.publication_id}}</a>
        </td>
        
       
      </tr>

      {% empty %}


      {% endfor %}  
      <!-- ... more rows ... -->
  </tbody>
</table>

</div>



<!-- Include required CSS and JS files -->

<script type="text/javascript">



$(function () {
$('#example').DataTable({
    dom: 'lBfrtiBp',
    buttons: ['copy', 'excel', 'csv', 'pdf' ]
});

});



</script>

{% endblock %}