{% extends 'mainLayout.html' %}
{% load static %}
{% block title%}Tutorial{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="sidenav">
            <a href="#tutorials">Tutorial</a>
            <a href="#faqs">FaQs</a>
            <a href="#contact-us">Contact Us</a>
        </div>          
    </div>
    <div class="col-md-9">
        <div id="tutorials">
            <h3 class="text-center">Tutorial</h3>
            In the <a href="{% static "files/tutorial.pdf" %}">AGMP User Guide</a>, you will find a tutorial addressing the following type of questions:
            <ul>
                <li>How to search AGMP?</li>
                <li>How to interpret the retrieved results?</li>
                <li>What other resources are provided?</li>
            </ul>            
        </div>
        <div id="faqs">
            <h3 class="text-center">FAQs</h3>
        
            <ol>
                <li ><strong>What kind of information can I find in AGMP?</strong></li>
            
                <p> AGMP contains a compilation of gene and variant information associated with diseases and drugs in the context of African populations. This information was retrieved from existing resources, including PharmGKB and DisGeNET.</p>
            
                <li><strong>What kind of questions can be answered with AGMP?</strong></li>
            
                <p> You can answer these type of questions:</p>
                <ul>
                <li > What are the genes, and variants associated with a particular disease in African populations?</li>
                <li > What are the genes, and variants associated with a particular drug in African populations?</li>
                <li > What are the diseases associated with a particular gene in African populations?</li>
                <li > What are the drugs associated with a particular gene in African populations?</li>
                <li > What are the diseases associated with a particular variant in African populations?</li>
                <li > What are the drugs associated with a particular variant in African populations?</li>
                </ul>
                <p>&nbsp;</p>
            
                <li><strong>What species are covered in AGMP?</strong></li>
            
                <p> AGMP is focused on human genes and their association with diseases and drugs. More specifically, AGMP focuses only on information related to African populations.</p>
                <p>&nbsp;</p>
            
                <li><strong>How is AGMP useful?</strong></li>
            
                <p> The African Genomic Medicine Portal (AGMP) can be used to find relevant gene/variant-disease/drug associations in African populations. This can be used in preliminary/exploratory investigations of African health, or assist in the interpretation of such results. AGMP should NOT be used for clinical decision making purposes.</p>
                <p>&nbsp;</p>
            
                <li><strong>Why can&rsquo;t I find my searched item in AGMP?</strong></li>
            
                <p>AGMP provides curated metadata which relates to African populations. These metadata were extracted from 
                    PharmGKB and DisGeNET, therefore, if a gene, variant, disease or drug does not appear, 
                    there may not be any information related to African populations associated with these in the aforementioned 
                    databases. We are currently exploring methods in which to include missing information.
                </p>
                <br />
                <li><strong>Can the portal be used for clinical decision making?</strong></li>
                <p>AGMP should NOT be used for clinical decision-making purposes. However, in the Resources tab,
                     the portal does provide access to resources that may be used for these purposes, such as CPIC.</p>
                <br />
                <li><strong>How do I use the Portal?</strong></li>
                <p>A step-by-step guide for using the Portal can be found in the Tutorial section. This includes expected search inputs and results outputs.</p>
                <br />
                <li><strong>Why is there data missing in some parts of the portal?</strong></li>
                <p>AGMP provides curated metadata which relates to African populations. These metadata were extracted from PharmGKB and DisGeNET, therefore, if a gene, variant, disease or drug does not appear. We are currently exploring methods in which to include missing information.</p>
                <br />
                <li><strong>How should I reference AGMP?</strong></li>
                <p>You can cite AGMP as: ------</p>
                <p>Please cite the date on which you accessed the resource.</p>
                <br />
                <li><strong>A P-value for a variant in AGMP is described as "ambiguous" or left empty. What does this mean?</strong></li>
                    <p>This indicates that no such information was identified during data curation.</p>
                </li>
            </ol>            
        </div>
        <p>&nbsp;</p>
        <div id="contact-us">
            <h3 class="text-center">Contact Us</h3>
        
            <p>For Portal-specific queries, users can log a ticket using the <a href="https://helpdesk.h3abionet.org/">H3ABioNet Helpdesk</a>.</p>
            <p>&nbsp;</p>
            <p>Users are also encouraged to follow us on social media:</p>
            <p>Facebook: <a href="https://www.facebook.com/H3ABioNet">H3ABioNet</a></p>
            <p>Twitter: <a href="https://twitter.com/H3ABioNet">@H3ABioNet</a></p>
            <p>Youtube: <a href="https://www.youtube.com/channel/UCMYQE_GYsOKY6-j8z9N6Ad">H3ABioNet</a></p>            
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $(".sidenav a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();
                // Store hash
                var hash = this.hash;
                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function(){
                // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>
{% endblock %}