{% extends 'mainLayout.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}

<h2 class="text-center">Home</h2>
<p>&nbsp;</p>
<p>The African Genomic Medicine Portal (AGMP) is a search platform which provides access to published gene and variant
    information as it relates to health and medicine. This info is specifically provided in the context of African
    populations, providing access to information derived from studying African populations indigenous to Africa and the
    related diaspora. This makes AGMP the first comprehensive resource for genomic medicine in Africa. AGMP integrates
    data curated from existing repositories related to health and medicine, including&nbsp; <a
        href="https://www.pharmgkb.org/">PharmGKB</a> and <a href="https://www.disgenet.org/">DisGeNET</a>.</p>
<p>&nbsp;</p>
<p>The current version of AGMP (v1.0) provides access to information related to 561 genes, 80 drugs, 416 diseases, and
    2338 variants. Information can be accessed through the <a href="{% url 'search' %}">Search</a> page.</p>
<p>&nbsp;</p>
<p>AGMP can be employed for various research purposes including the investigation of the molecular underpinnings of
    human diseases and drug processing, text mining, and the generation of hypothesis related to human disease and drug
    processing.</p>
<p>&nbsp;</p>
<h2 class="text-center">News</h2>
<p>&nbsp;</p>
<p>TBD Date: <strong>AGMP v1.0 released </strong></p>
<ul>
    <li>Access to published, African-specific genomic medicine (health and drug processing) is provided.</li>
</ul>
{% endblock %}