<!DOCTYPE html>
{% load static %}
<html>

<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F05VC7V1R8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-F05VC7V1R8');
</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>
		African Genomic Medicine Portal
		{% block title %}
		{% endblock %}
	</title>
	{% block js_top %}
	{% endblock %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/h3abionet.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"
		crossorigin="anonymous">
	<link rel="shortcut icon" href="{% static 'img/bionetlogo.png' %}" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/dt_colfilt_css/buttons.foundation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dt_colfilt_css/dataTables.foundation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/dt_colfilt_css/foundation.min.css' %}">

	<script type="text/javascript" src="{% static 'js/dt_colfilt/jquery-3.7.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dt_colfilt/foundation.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dt_colfilt/dataTables.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dt_colfilt/dataTables.foundation.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dt_colfilt/dataTables.buttons.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dt_colfilt/buttons.foundation.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dt_colfilt/buttons.colVis.min.js' %}"></script>

	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
	

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



	
	{% block css %}
	{% endblock %}


</head>

<body>

	<div class="top_div_fixed">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<a class="navbar-brand text-bigblue margin_on_top_image" href="https://h3abionet.org/" target=”_blank”>
						<img src="{% static 'img/h3ab.png' %}" width="" height="15%" class="d-inline-block " alt="">
					</a>
				</div>
				<div class="col-md-8">
					<div class="top_title_text">
						<h3>
							<b> African Genomic Medicine Portal</b>
						</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="container2">
			<nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-mibio py-md-2">
				<a class="navbar-brand" href="/">
					<i class="fa fa-home"></i> Home</a>
				<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
					data-target="#main-navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="main-navigation">

					<ul class="navbar-nav ml-auto">
						<li class="nav-item ml-auto py-0 sp-menu-item">
							<a class="nav-link dropdown text-bigblue" href="/about">About</a>
						</li>

						<!-- <li class="nav-item ml-auto py-0">
							<a class="nav-link text-bigblue" href="/search/">Search</a>
						</li> -->
						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-bigblue" href="/summary/">Summary</a>
						</li>

						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-bigblue" href="/resources">Resources</a>
						</li>
						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-bigblue" href="/help">Help</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>


		<!-- ########## start of top header with overlay white text ########### -->

		{% block banner %}


		{% include 'partials/banner.html' %}

		{% endblock %}





		<!-- ########### end of top header with overlay text ##############-->



	</div>

	<div class="main">
		<div class="container main_min_height">
			{% block content %}
			{% endblock %}

			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
				integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
				crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
				integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
				crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
				<!-- commented for now -->
			<!-- <script src="{% static 'js/jquery.dataTables.js' %}"></script>
			<script src="{% static 'js/pdfmake.min.js' %}"></script>
			<script src="{% static 'js/vfs_fonts.js' %}"></script>
			<script src="{% static 'js/jszip.min.js' %}"></script>
			<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
			<script src="{% static 'js/dataTables.buttons.print.min.js' %}"></script>
			<script src="{% static 'js/dataTables.buttons.html5.min.js' %}"></script> -->
				<!-- commented for now -->
		
			{% block js%}
			{% endblock %}
			{% block content2 %}
			{% endblock %}
		</div>
	</div>

	<!-- New Footer start here-->
	<div class="container-fluid page-footer_new fixed-bottom">
		{% include 'partials/footer.html' %}
	</div>
	<!-- New Footer end here -->
</body>
</html>