{% extends 'mainLayout.html' %}
{% block title %}Online Courses{% endblock %}
{% block content %}

<h3 class="text-center">Online Courses</h3>

<p>
    The resources listed contain links to other websites originating
    from and maintained by third parties. Though updated regularly,
    these links are not monitored, or checked for accuracy, adequacy,
    validity, reliability, availability, or completeness by us.
</p>
<p>
    The following section contains descriptions and links to online courses relevant to genomics and precision medicine,
    as well as pharmacogenomics.
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tr>
        <td>Big Data, Genes, and Medicine - Coursera</td>
        <td>
            <p>This course distills for you expert knowledge and skills mastered by professionals in Health Big Data
                Science and Bioinformatics. You will learn exciting facts about the human body biology and chemistry,
                genetics, and medicine that will be intertwined with the science of Big Data and skills to harness the
                avalanche of data openly available at your fingertips and which we are just starting to make sense of.
                We’ll investigate the different steps required to master Big Data analytics on real datasets, including
                Next Generation Sequencing data, in a healthcare and biological context, from preparing data for
                analysis to completing the analysis, interpreting the results, visualizing them, and sharing the
                results.</p>
        </td>
        <td><a target="_blank"
                href="https://www.coursera.org/learn/genomic-precision-medicine ">www.coursera.org/learn/genomic-precision-medicine</a>
        </td>
    </tr>
    <tr>
        <td>Case Studies in Personalized Medicine - Coursera</td>
        <td>
            <p>This course will present short primers in genetics and mechanisms underlying variability in drug
                responses. A series of case studies will be used to illustrate principles of how genetics are being
                brought to bear on refining diagnoses and on personalizing treatment in rare and common diseases.</p>
        </td>
        <td><a target="_blank"
                href="https://www.coursera.org/learn/personalizedmed">www.coursera.org/learn/personalizedmed</a></td>
    </tr>
    <tr>
        <td>Data Science in Stratified Healthcare and Precision Medicine - Coursera</td>
        <td>
            <p>In this course, you will learn about some of the different types of data and computational methods
                involved in stratified healthcare and precision medicine. You will have a hands-on experience of working
                with such data. And you will learn from leaders in the field about successful case studies.</p>
        </td>
        <td><a target="_blank" href="https://www.coursera.org/learn/datascimed">www.coursera.org/learn/datascimed</a>
        </td>
    </tr>
    <tr>
        <td>African Genomic Medicine Training Initiative</td>
        <td>
            <p>The purpose of this Professional Development Course is to provide genomics and genetics education to
                nurses based in Africa. The course will emphasize the practical application of content into learners’
                current settings and roles. The problem-based practical sessions will emphasize increased knowledge in
                the genetics of African health issues. In addition, skills in Genetic counselling, Community
                engagement/Ethical conduct in research and patient care and development of health promotion material
                will be reinforced. Therefore the course seeks to support improved Genetics & Genomics knowledge.</p>
        </td>
        <td><a target="_blank" href="https://training.h3abionet.org/AGMC_2016/"></a>training.h3abionet.org/AGMC_2016
        </td>
    </tr>
    <tr>
        <td>Using Personalized Medicine and Pharmacogenetics - Future Learn</td>
        <td>
            <p>On this course you will explore their potential, taking a close look at the human genome, genome and
                exome sequencing, pharmacogenetics tests, a review of current best evidence and the use of personalized
                medicine in cancer therapy.</p>
        </td>
        <td><a target="_blank"
                href="https://www.futurelearn.com/courses/personalized-medicine">www.futurelearn.com/courses/personalized-medicine</a>
        </td>
    </tr>
    <tr>
        <td>Pharmacogenomics Course - RxGenomix</td>
        <td>
            <p>A Training Program in Pharmacogenomics for both the practicing professional and for pharmacy students.
                This 16-hour RxGenomix self-paced course was designed to help working pharmacists learn about the
                science of pharmacogenomics and how it may be applied in their clinical practice.</p>
        </td>
        <td><a target="_blank" href="http://www.rxgenomix.com/courses/pharma">www.rxgenomix.com/courses/pharma</a></td>
    </tr>
</table>
{% endblock %}