 {% extends 'mainLayout.html' %} 

 {% load static %}


{% block title %} Variant Drug Associations {% endblock %}


{% block banner %}

{% include 'partials/banner_results.html' %}

{% endblock %}

{% block content %}
<!-- Initialize DataTables -->

<h3>{{data.gene_id}} </h3><hr>

<p><b>Gene:</b> {{data.gene_id}}</p>

<p><b>Uniprot ID:</b> <a href="https://www.uniprot.org/uniprotkb/{{data.uniprot_ac}}/entry" >{{data.uniprot_ac}}</a></p>

<p><b>Function:</b> {{data.function}} </p>

  <h2>Drug Associations</h2>

  <div class="table-responsive">
      <table id="example01" class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Variant</th>
                  <th>Gene</th>
                  <th>Drug</th>
                  <th>Description</th>
                  <th>Significance</th>
                  <th>Region</th>
                  <th>Country</th>
                  <th>Study</th>
                  <th>Variant Type</th>
                  <th>Source DB</th>
                  <th>Mixed Population</th>
                  <!-- <th>Study Type</th> -->
                  

              </tr>
          </thead>
          <tbody>
              {% for my_object in object_list %}
              <tr>
                  <td>{{my_object.variantagmp.rs_id }}</td>
                  <td>{{my_object.variantagmp.geneagmp.gene_id}}</td>
                  <td>
                      <a href="https://www.drugbank.ca/drugs/{{ my_object.variantagmp.drugagmp.drug_bank_id }}">{{my_object.variantagmp.drugagmp.drug_name}}</a>
                  </td>
                  <td>{{my_object.variantagmp.phenotypeagmp.name}}</td>
                  <td>{{my_object.p_value}}</td>
                  <td>{{my_object.geographical_regions}}</td>
                  <td>{{my_object.country_participant}}</td>
                  <td><a href="https://pubmed.ncbi.nlm.nih.gov/{{my_object.studyagmp.publication_id}}">{{my_object.studyagmp.publication_id}}</a></td>
                  <td>{{my_object.variantagmp.variant_type }}</td>
                  <td>{{my_object.variantagmp.source_db }}</td>
                  <!-- <td>{{my_object.studyagmp.study_type}}</td> -->
                  <td>{{my_object.mixed_population }}</td>
                
              </tr>
              {% empty %}
              {% endfor %}
          </tbody>
      </table>
  </div>







  <h2>Phenotype Associations</h2>
  <div class="table-responsive">
      <table id="example02" class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Variant</th>
                  <th>Gene</th>
                  <th>Phenotype</th>
                  <th>Significance</th>
                  <th>Region</th>
                  <th>Country</th>
                  <th>Study</th>
                  <th>Variant Type</th>
                  <th>Source DB</th>
                  <th>Mixed Population</th>
                  <!-- <th>Study Type</th> -->
              </tr>
          </thead>
          <tbody>
              {% for my_object in object_list_diseases %}
              <tr>
                  <td>{{my_object.variantagmp.rs_id }}</td>
                  <td>{{my_object.variantagmp.geneagmp.gene_id}}</td>
                  <td>{{my_object.variantagmp.phenotypeagmp.name}}</td>
                  <td>{{my_object.p_value}}</td>
                  <td>{{my_object.geographical_regions}}</td>
                  <td>{{my_object.country_participant}}</td>
              
                  <td><a href="https://pubmed.ncbi.nlm.nih.gov/{{my_object.studyagmp.publication_id}}">{{my_object.studyagmp.publication_id}}</a></td>
                  <td>{{my_object.variantagmp.variant_type }}</td>
                  <td>{{my_object.variantagmp.source_db }}</td>
                  <!-- <td>{{my_object.studyagmp.study_type}}</td> -->
                  <td>{{my_object.mixed_population }}</td>
                </tr>
              {% empty %}
              {% endfor %}
          </tbody>
      </table>
  </div>




<script>
$(document).ready(function() {
 function initializeTable(tableId, columnSelectId) {
    var table = $(tableId).DataTable({
        dom: 'lBfrtip',
        buttons: [
            {
                extend: 'collection',
                text: 'Export',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ]
            },
            'colvis'
        ],
        columnDefs: [{
            targets: '_all',
            visible: true // Display all columns by default
        }],
        initComplete: function(settings, json) {
            // Hide the last 3 columns
            var api = this.api();
            var columnsCount = api.columns().nodes().length;
            for (var i = 1; i <= 3; i++) {
                api.column(columnsCount - i).visible(false);
            }
        }
    });

    // Create checkboxes for column selection
    table.columns().every(function(index) {
        var column = this;
        var checked = column.visible() ? 'checked' : '';
        var checkbox = $('<label><input type="checkbox" ' + checked + '>' + $(column.header()).text() + '</label>');
        // Handle checkbox click event
        checkbox.find('input').on('click', function() {
            var isChecked = this.checked;
            column.visible(isChecked);
        });
        $(columnSelectId).append(checkbox);
    });
 }

 initializeTable('#example01', '#columnSelect1');
 initializeTable('#example02', '#columnSelect2');
});



</script>

{% endblock %}