{% extends 'mainLayout.html' %}
{% load static %}
{% block title%}Resources{% endblock %}


{% block banner %}


{% include 'partials/banner_resources.html' %}

{% endblock %}

{% block content %}



<div class="row">
	<div class="col-md-3">
		<nav class="navigation" id="mainNav">

			<ul>
				<div class="no_style">

					<li><a class="navigation__link" href="#1">Databases</a></li>
					<li><a class="navigation__link" href="#2">Tools and Pipelines</a></li>
					<li><a class="navigation__link" href="#3">Online Courses</a></li>

				</div>

			</ul>

		</nav>
	</div>
	<div class="col-md-9 section1">
		<div class="page-section" id="1">
			<h3 class="text-center">Databases</h3>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" class="font-weight-normal">Name</th>
							<th scope="col" class="font-weight-normal">Description</th>

						</tr>
					</thead>
					<tbody>

						<tr>
							<td>

								<a target="_blank" href="#">AGVD</a>
							</td>
							<td>The African Genome Variation Database (AGVD) is a platform for exploring genomic
								variation data within African populations. This project forms part of the H3ABioNet
								consortium.
							</td>

						</tr>


						<tr>
							<td>

								<a target="_blank" href="#">AMP</a>
							</td>
							<td>A web based portal to collate, curate and provide primary references for African
								specific microbiome metadata and resources for African based microbiome research.
							</td>

						</tr>

						<tr>
							<td>
								<a target="_blank" href="https://clinicalgenome.org/">ClinGen</a>
							</td>
							<td>ClinGen is a National Institutes of Health (NIH)-funded resource dedicated to
								building a central
								resource that defines the clinical relevance of genes and variants for use in
								precision medicine and
								research.</td>

						</tr>
						<tr>

							<td>
								<a target="_blank" href="https://www.ncbi.nlm.nih.gov/clinvar/">ClinVar</a>
							</td>
							<td>ClinVar aggregates information about genomic variation and its relationship to human
								health.
							</td>

						</tr>


						<tr>
							<td>
								<a target="_blank" href="https://cpicpgx.org/">CPIC</a>
							</td>
							<td>The Clinical Pharmacogenetics Implementation Consortium (CPIC®) is an international
								consortium of
								individual volunteers and a small dedicated staff who are interested in facilitating
								the use of
								pharmacogenetic tests for patient care.</td>

						</tr>


						<tr>

							<td>
								<a target="_blank" href="http://www.disgenet.org/">DisGeNET</a>
							</td>
							<td>DisGeNET is a discovery platform containing one of the largest publicly available
								collections of
								genes
								and variants associated to human diseases.</td>

						</tr>

						<tr>
							<td>
								<a target="_blank" href="https://www.drugbank.ca">Drug Bank</a>
							</td>
							<td>The DrugBank database is a unique bioinformatics and cheminformatics resource that
								combines detailed
								drug data with comprehensive drug target information.</td>

						</tr>

						<tr>

							<td>
								<a target="_blank" href="https://www.ebi.ac.uk/gwas/">GWAS Catalog</a>
							</td>
							<td>The GWAS Catalog provides a consistent, searchable, visualisable and freely
								available database of
								published SNP-trait associations, which can be easily integrated with other
								resources, and is
								accessed
								by scientists, clinicians and other users worldwide.</td>

						</tr>

						<tr>
							<td>

								<a target="_blank" href="#">H3Africa Data & Biospecimen Catalogue</a>
							</td>
							<td>H3Africa Data and Biospecimen Catalogue was developed for searching H3Africa metadata
								and samples. The aim of the catalogue is for users to identify datasets, along with
								their EGA accession numbers and biospecimens, including information on where they are
								stored. The sets of interest can then be requested via an access request form to the
								Data and Biospecimens Access Committee.
							</td>

						</tr>

						<tr>
							<td>

								<a target="_blank" href="https://www.pharmgkb.org/">PharmGKB</a>
							</td>
							<td>The PharmGKB is a pharmacogenomics knowledge resource that
								encompasses clinical information including clinical guidelines
								and drug labels, potentially clinically actionable gene-drug
								associations and genotype-phenotype relationships.
							</td>






				</table>
			</div>
		</div>
		<div class="page-section" id="2">
			<h3 class="text-center">Tools and Pipelines</h3>

			<div class="table-responsive">

				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" class="font-weight-normal">Name</th>
							<!-- <th scope="col" class="font-weight-normal">Resource Type</th> -->
							<th scope="col" class="font-weight-normal">Description</th>
						</tr>
					</thead>
					<tr>
						<td><a target="_blank" href=https://www.h3abionet.org/tools-and-services/workflows>H3ABioNet
								Bioinformatics Workflows </a>
						</td>
						<!-- <td>Data Analysis Tool</td> -->
						<td>H3ABioNet developed standard operating procedures (SOPs) for common bioinformatics data
							analysis tasks. Some SOPs contain a software workflow as well as corresponding containers
							with all the necessary software dependencies to run the workflow.</td>
					</tr>

					<tr>
						<td><a target="_blank" href=https://huma.rubi.ru.ac.za>HUMA</a>
						</td>
						<!-- <td>Data Analysis Tool</td> -->
						<td>The Human Mutation Analysis (HUMA) database and web server has been developed as a platform
							for the analysis of genetic variation in humans. HUMA aggregates data from various sources
							into a single, connected database and provides tools to analyse this data. Further, HUMA
							provides users with the option of uploading their own variation datasets and using the
							provided tools to analyse this data.</td>
					</tr>

					<tr>
						<td><a target="_blank" href=https://www.pharmgkb.org/page/pharmcat>PharmCAT </a> </td>
						<!-- <td>Data Analysis Tool
						</td> -->
						<td>Pharmacogenomics Clinical Annotation Tool</td>
					</tr>
				</table>
			</div>

		</div>
		<div class="page-section" id="3">
			<h3 class="text-center">Online Courses</h3>

			<div class="table-responsive">

				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col" class="font-weight-normal">Name</th>
							<th scope="col" class="font-weight-normal">Description</th>
						</tr>
					</thead>
					<tr>


						<td><a target="_blank" href="https://training.h3abionet.org/AGMC_2016/">AGMT</a>
						</td>
						<td>
							The purpose of this Professional Development Course is to provide genomics and genetics
							education to nurses based in Africa. The course will emphasize the practical application of
							content into learners’ current settings and roles. The problem-based practical sessions will
							emphasize increased knowledge in the genetics of African health issues. In addition, skills
							in Genetic counselling, Community engagement/Ethical conduct in research and patient care
							and development of health promotion material will be reinforced. Therefore the course seeks
							to support improved Genetics & Genomics knowledge.
						</td>

					</tr>

					<tr>


						<td><a target="_blank" href="https://www.h3abionet.org/training/courses-and-events">IBT</a>
						</td>
						<td>
							The course aims to provide an introduction to the field of bioinformatics, with a focus on
							important bioinformatics tools, and resources. The course aims to use a combination of
							theoretical and practical sessions in order for participants to gain practical experience in
							using various tools and resources.
						</td>

					</tr>


					<tr>

						<td><a target="_blank" href="https://www.h3abionet.org/training/courses-and-events">16S rRNA
								Microbiome IntBT</a>
						</td>
						<td>
							The H3ABioNet 16S rRNA Microbiome Intermediate Bioinformatics course will provide training
							to enable participants to gain the knowledge and skills to perform 16S rRNA microbiome data
							analyses using a variety of bioinformatics methods and tools.
						</td>

					</tr>

					<tr>

						<td><a target="_blank" href="https://www.h3abionet.org/training/courses-and-events">16S rRNA
								Microbiome IntBT</a>
						</td>
						<td>
							Next generation sequencing (NGS) has become an essential tool in genetic and genomic
							analysis. It is increasingly important for experimental scientists to gain the
							bioinformatics skills required to analyse the large volumes of data produced by next
							generation sequencers. This course will equip participants with the essential informatics
							skills required to begin analysing NGS data and apply some of the most commonly used tools
							and resources for sequence data analysis.
						</td>

					</tr>

				</table>
			</div>
		</div>


	</div>

</div>









{% endblock %}

{% block js %}
<script>

	$(document).ready(function () {
		$('a[href*=#]').bind('click', function (e) {
			e.preventDefault(); // prevent hard jump, the default behavior

			var target = $(this).attr("href"); // Set the target as variable

			// perform animated scrolling by getting top-position of target-element and set it as scroll target
			$('html, body').stop().animate({
				scrollTop: $(target).offset().top
			}, 600, function () {
				location.hash = target; //attach the hash (#jumptarget) to the pageurl
			});

			return false;
		});
	});

	$(window).scroll(function () {
		var scrollDistance = $(window).scrollTop();

		// Show/hide menu on scroll
		//if (scrollDistance >= 850) {
		//		$('nav').fadeIn("fast");
		//} else {
		//		$('nav').fadeOut("fast");
		//}

		// Assign active class to nav links while scolling
		$('.page-section').each(function (i) {
			if ($(this).position().top <= scrollDistance) {
				$('.navigation a.active').removeClass('active');
				$('.navigation a').eq(i).addClass('active');
			}
		});
	}).scroll();

</script>
{% endblock %}