{% extends "mainLayout.html" %}
{% load static %}
{% comment %} {% block title %} {% endcomment %}
{% comment %} Welcome to the database {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}
{% comment %} {% endcomment %}



{% block banner %}


{% include 'partials/banner_search.html' %}

{% endblock %}
{% block content %}




<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>


<form>
    <input type="radio" name="model" value="model_a" checked> Model A
    <input type="radio" name="model" value="model_b"> Model B

    <input type="text" id="autocomplete" name="autocomplete" placeholder="Search...">
</form>

<script>
   $(document).ready(function () {
    $('input[name="model"]').on('change', function () {
        var selectedModel = $('input[name="model"]:checked').val();
        var autocompleteUrl = selectedModel === 'model_a' ? '/model_a_autocomplete/' : '/model_b_autocomplete/';

        $('#autocomplete').autocomplete({
            source: function (query, process) {
                return $.ajax({
                    url: autocompleteUrl,
                    data: { q: query },
                    success: function (data) {
                        process(data);
                    }
                });
            }
        });
    });
});
</script>






{% endblock %}