{% extends "mainLayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}



{% block title%}Search{% endblock %}

{% block js %}
<script src="{% static 'js/search.js' %}" type="text/JavaScript"></script>
{% endblock %}

{% comment %}
https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html
{% endcomment %}



{% block banner %}


{% include 'partials/banner_search.html' %}

{% endblock %}
{% block content %}


<h1>Search</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <h2>Variant Results</h2>
    {% for book in variant_results %}
        <p>{{ book.id }} by {{ book.rs_id }}</p>
    {% empty %}
        <p>No book results found</p>
    {% endfor %}
    
    <h2>Gene Results</h2>
    {% for author in gene_results %}
        <p>{{ author.id }}</p>
    {% empty %}
        <p>No author results found</p>
    {% endfor %}
    
    <h2>Drug Results</h2>
    {% for publisher in drug_results %}
        <p>{{ publisher.id }}</p>
    {% empty %}
        <p>No publisher results found</p>
    {% endfor %}

        {% endblock %}