{% extends 'mainLayout.html' %}


{% block title%}About{% endblock %}


{% block banner %}


{% include 'partials/banner_about.html' %}

{% endblock %}

{% block content %}

<style type="text/css">
	ul {
	 list-style-type: none;
	}
   </style>
{% comment %} 
<div class="row"> {% endcomment %}
 <div>

 <form method="GET" action=".">


	<div class="form-row">
		<div class="form-group col-12">
			<div class="input-group">
					<input class="form-control py-2 border-right-0 border" type="search" name="variant_contains" placeholder="Variant | Drug | Gene"/>
					<span class="input-group-append">
						<div class="input-group-text bg-transparent">
							<i class="fa fa-search"></i>
						</div>
					</span>
			</div>
		</div>
	</div>


		{% comment %} ------{% endcomment %}

	{% comment %} ------{% endcomment %}
	{% comment %} <div class="form-row">
		<div class="form-group col-12">
			<div class="input-group">
					<input class="form-control py-2 border-right-0 border" type="search" name="drug_contains" placeholder= "Drug "/>
					<span class="input-group-append">
						<div class="input-group-text bg-transparent">
							<i class="fa fa-search"></i>
						</div>
					</span>
			</div>
		</div>
	</div> {% endcomment %}
		{% comment %} ------{% endcomment %}
		{% comment %} <div class="form-row">
			<div class="form-group col-12">
				<div class="input-group">
						<input class="form-control py-2 border-right-0 border" type="search"  name="gene_contains" placeholder= "Gene"/>
						<span class="input-group-append">
							<div class="input-group-text bg-transparent">
								<i class="fa fa-search"></i>
							</div>
						</span>
				</div>
			</div>
		</div> {% endcomment %}
			{% comment %} ------{% endcomment %}


	<div class="form-row">
		{% comment %} <div class="form-group col-md-2 col-lg-2">
		  <label for="inputEmail4">Minimum View Count</label>
		  <input type="number" min=0  class="form-control" name="view_count_min" id="inputEmail4" placeholder="">
		</div>
		<div class="form-group col-md-2 col-lg-2">
		  <label for="inputPassword4">Maximum View Count</label>
		  <input type="number" max=10 000 class="form-control" name="view_count_max" id="inputPassword4" placeholder="">
		</div> {% endcomment %}
		{% comment %} <div class="form-group col-md-2 col-lg-2">
			<label for="inputEmail4">Publish Date Min</label>
			<input type="date" class="form-control" name="date_min" id="inputEmail4" placeholder="">
		  </div>
		  <div class="form-group col-md-2 col-lg-2">
			<label for="inputPassword4">Publish Date Max </label>
			<input type="date" class="form-control" name="date_max" id="inputPassword4" placeholder="">
		  </div>
		   <div class="form-group col-md-2 col-lg-2">
			<label for="inputState">Category</label>
			<select id="inputState" name="category" class="form-control">
			  <option selected>Choose...</option>
			  <option>...</option>
			</select>
		  </div> 
	  </div> {% endcomment %}
	
	</div>

	  <button type="submit" class="btn btn-primary">Search</button>
 </form>

{% comment %} </div> {% endcomment %}


<hr>

{% comment %} Authored by :{{journal.author.name}} {% endcomment %}

		<div class="row">
			<div class="col-sm-12">
 <ul>
					{% for i in qs_variant %}
		
					<li> <b>RS ID:</b> {{i.rs_id}}, <b>RS ID Star Annotation:</b> {{i.rs_id_star_annotation}}, <b>ID In source:</b> {{i.id_in_source_db}}, <b>Source DB:</b> {{i.source_db}}, <b>Gene ID:</b> {{i.geneagmp.gene_id}},<b>Gene Name:</b> {{i.geneagmp.gene_name}}, <b>Drug Name:</b> {{i.drugagmp.drug_name}}, <b>Study Title:</b> {{i.studyagmp.title}}, <b>Phenotype Name:</b> {{i.phenotype.name}} <li>
						<hr>
					{% endfor %}
		
				</ul> 

				<b><hr></b>
				{% comment %} <ul>
					{% for i in qs_gene %}
		
					<li><b>{{i.id}} {{i.gene_id}}</b>:{{i.gene_name}} | {{i.source_db}} | {{i.chromosome}} | {{i.function}} | {{i.uniprot_ac}}<li>
						<hr>
					{% endfor %}
		
				</ul> {% endcomment %}

				<b><hr></b>

				{% comment %} <ul>
					{% for i in qs_drug %}

					<li><b>{{i.id}} {{i.drug_bank_id}}</b>: {{i.drug_name}} :{{i.indication}} {{i.iupac_name_seq}}  <li>
						<hr>
					{% endfor %}

				</ul> {% endcomment %}






		

		</div>
	
	
	</div>

	



</div>






{% endblock %}

{% block js %}
<script>

	$(document).ready(function () {
		$('a[href*=#]').bind('click', function (e) {
			e.preventDefault(); // prevent hard jump, the default behavior

			var target = $(this).attr("href"); // Set the target as variable

			// perform animated scrolling by getting top-position of target-element and set it as scroll target
			$('html, body').stop().animate({
				scrollTop: $(target).offset().top
			}, 600, function () {
				location.hash = target; //attach the hash (#jumptarget) to the pageurl
			});

			return false;
		});
	});

	$(window).scroll(function () {
		var scrollDistance = $(window).scrollTop();

		// Show/hide menu on scroll
		//if (scrollDistance >= 850) {
		//		$('nav').fadeIn("fast");
		//} else {
		//		$('nav').fadeOut("fast");
		//}

		// Assign active class to nav links while scolling
		$('.page-section').each(function (i) {
			if ($(this).position().top <= scrollDistance) {
				$('.navigation a.active').removeClass('active');
				$('.navigation a').eq(i).addClass('active');
			}
		});
	}).scroll();

</script>


{% endblock %}