{% extends "mainLayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}



{% block title%}Search{% endblock %}

{% block js %}
<script src="{% static 'js/search.js' %}" type="text/JavaScript"></script>
{% endblock %}

{% comment %}
https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html
{% endcomment %}



{% block banner %}


{% include 'partials/banner_search.html' %}

{% endblock %}
{% block content %}
<style>    





.centered-columns {
    display: flex;
    justify-content: center;
  }

  #id_search_query{
    width:100%;
  }
  .btn{
    width:100%;
  }
 
 </style>

<form class="search_form" method="post">
    {% csrf_token %}
    <div class="search_form">


        <div class="row centered-columns">
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.3}}  <img src="{% static 'img/noun_Disease_2078983.svg' %}" alt="Image" width="25%"> </div>
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.2 }}  <img src="{% static 'img/noun_Drug_2227411.svg' %}" alt="Image" width="25%"> </div>
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.0 }} <img src="{% static 'img/noun_choice_of_option_2765906.svg' %}" alt="Image" width="25%"> </div>
            <div class="col-md-3 col-sm-3 text-center"> {{ form.search_option.1 }} <img src="{% static 'img/noun_genes_1767492.svg' %}" alt="Image" width="25%"> </div>


        </div>

        <div class="row centered-columns mt-3 mb-3 ml-7">

            <div class="col-md-9 col-sm-9 text-center ">{{ form.search_query}}</div>
            <div class="col-md-3 col-sm-3 text-center ">
                <button class= "btn btn-success btn-sm" type="submit">Search</button> </div>


        </div>
    
    

       
        
    {% comment %} {{ form.as_p }} {% endcomment %}
  
    </div>
</form>

<div class="text-left">

{% if result %}
    <ul>
    {% for result in results %}
        <li>{{ result }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}

</div>

        {% endblock %}