{% extends "mainLayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" media="all" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" media="all" href="//cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
{% endblock %}

{% block js %}
  <script src="{% static 'js/search_details.js' %}" type="text/JavaScript"></script>
	<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/JavaScript"></script>
	<script src="//cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" type="text/JavaScript"></script>
	<script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js" type="text/JavaScript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/JavaScript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" type="text/JavaScript"></script>
	<script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" type="text/JavaScript"></script>
	<script src="//cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js" type="text/JavaScript"></script>
{% endblock %}

{% block content %}

<div class="panel">
  <div class="result-summary">
    <h2></h2>
  </div>
  {% if search_type == 'gene-drug' %}
    <table id="detail-table" class="display table table-hover" cellspacing="1" width="100%">
      <thead>
        <tr>
          <th>Gene</th>
          <th>Variant</th>
          <th>Drug</th>
          <th>Significance</th>
          <th>Region</th>
          <th>PMID</th>
        </tr>
      </thead>
      <tbody>
        {% for gene in gene_drug %}
          <tr>
              <td>{{ gene.gene_name }}</td>
              <td>{{ gene.rs_id }}</td>
              <td>
                {% if gene.drug_bank_id|length > 0 %}
                  <a target="_blank" href="https://www.drugbank.ca/drugs/{{ gene.drug_bank_id }}">
                    {{ gene.drug_name }}
                  </a>
                {% else %}
                    {{ gene.drug_name }}
                {% endif %}
              </td>
              <td>{{ gene.p_value }}</td>
              <td>{{ gene.region }}</td>
              <td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ gene.external_id }}">{{ gene.external_id }}</a></td>
          </tr>        
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if genes %}
    <table id="detail-table" class="display table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>rsid</th>
          <th>Allele</th>
          <th>Disease Phenotype</th>
          <th>Reference Id</th>
          <th>Chromosome</th>
          <th>P-Value</th>
        </tr>
      </thead>
      <tbody>
        {% for gene in genes %}
          <tr>
              <td>{{ gene.rs_id }}</td>
              <td>{{ gene.allele }}</td>
              <td>{{ gene.disease_phenotype }}</td>
              <td>{{ gene.reference_id }}</td>
              <td>{{ gene.chromosome }}</td>
              <td>{{ gene.p_value }}</td>
          </tr>        
        {% endfor %}
      </tbody>
    </table>
  {% endif %}  

  {% if search_type == 'variant-drug' %}
    <table id="detail-table" class="display table table-hover" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Variant</th>
          <th>Gene</th>
          <th>Drug</th>
          <th>Significance</th>
          <th>Region</th>
          <th>PMID</th>
        </tr>
      </thead>
      <tbody>
        {% for vnt_drg in variant_drug %}
          <tr>
              <td>{{ vnt_drg.rs_id }}</td>
              <td>{{ vnt_drg.gene_name }}</td>
              <td>
                {% if vnt_drg.drug_bank_id|length > 0 %}
                  <a target="_blank" href="https://www.drugbank.ca/drugs/{{ vnt_drg.drug_bank_id }}">
                    {{ vnt_drg.drug_name }}
                  </a>
                {% else %}
                  {{ vnt_drg.drug_name }}
                {% endif %}
              </td>
              <td>{{ vnt_drg.p_value }}</td>
              <td>{{ vnt_drg.region }}</td>
              <td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ vnt_drg.external_id }}">{{ vnt_drg.external_id }}</a></td>
          </tr>        
        {% endfor %}
      </tbody>
    </table>
  {% endif %}    
</div>

{% endblock %}