{% extends "mainLayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}



{% block title%}Search{% endblock %}

{% block js %}
<!-- <script src="{% static 'js/search.js' %}" type="text/JavaScript"></script> -->
{% endblock %}

{% comment %}
https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html
{% endcomment %}



{% block banner %}


{% include 'partials/banner_search.html' %}

{% endblock %}
{% block content %}




<form id="search-form">
  <input type="search" id="search-term" placeholder="Search">
  <label for="model1">Model 1</label>
  <input type="radio" id="model1" name="model">
  <label for="model2">Model 2</label>
  <input type="radio" id="model2" name="model">
  <div id="search-results"></div>
</form>


<script>
$(document).ready(function() {
  $('#search-form').submit(function(event) {
    event.preventDefault();

    var searchTerm = $('#search-term').val();
    var selectedModel = $('input[name="model"]:checked').val();

    $.ajax({
      url: '/search/',
      data: {
        search_term: searchTerm,
        selected_model: selectedModel
      },
      method: 'GET',
      success: function(response) {
        $('#search-results').html(response);
      }
    });
  });
});
</script>




{% endblock %}