{% extends 'mainLayout.html' %}
{% block title %}Summary{% endblock %}

{% block banner %}


{% include 'partials/banner_summary.html' %}

{% endblock %}

{% block content %}

{% load leaflet_tags %}
{% block js%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% leaflet_js %}
{% endblock %}

{%block css%}
{% leaflet_css %}

{% block scripts %}

<script>

  $(document).ready(function () {

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ count_keys| safe }},
    datasets: [{
      label: 'Total Numbers',
      data: {{ count_data| safe }},
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)'
    ],
    borderColor: [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
    borderWidth: 1
    }]
      },
    options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
    });



  });

  ///graph1
  $(document).ready(function () {

    const ctx = document.getElementById('myChart01').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });



  });

  ///graph2
  $(document).ready(function () {

    const ctx = document.getElementById('myChart02').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });



  });


  ///graph3
  $(document).ready(function () {

    const ctx = document.getElementById('myChart03').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });



  });


</script>


{% endblock %}


<style>
  body {
    font-family: Roboto, sans-serif;
  }

  .node {
    border: solid 1px white;
    font: 10px sans-serif;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    text-indent: 2px;
  }

  .c3-line,
  .c3-focused {
    stroke-width: 3px !important;
  }

  .c3-bar {
    stroke: white !important;
    stroke-width: 1;
  }

  .c3 text {
    font-size: 12px;
    color: grey;
  }

  .tick line {
    stroke: white;
  }

  .c3-axis path {
    stroke: grey;
  }

  .c3-circle {
    opacity: 1 !important;
  }

  .c3-xgrid-focus {
    visibility: hidden !important;
  }

  .leaflet-container {
    /* all maps */
    width: 440%;
    height: 400px;
  }

  /* Resize the "display_raw" textbox */
  .django-leaflet-raw-textarea {
    width: 100%;
  }
</style>
{% endblock %}

<div class="row">
  <div class="col-md-3">
    <nav class="navigation" id="mainNav">
      <ul>
        <div class="no_style">
          <li><a class="navigation__link" href="#1">Data Overview</a></li>
          <li><a class="navigation__link" href="#2_0">Graph</a></li>
          <li><a class="navigation__link" href="#2_1">Sample Graphs</a></li>
          <li><a class="navigation__link" href="#2">Data Distribution</a></li>

        </div>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 section1">
    <div class="page-section" id="1">

      <h3 class="text-center">Data Overview</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Total Number</th>
          </tr>
        </thead>
        <tr>
          <td>GENES</td>
          <td>{{ gene_count | default_if_none:'0' }}</td>
        </tr>
        <tr>
          <td>DRUGS</td>
          <td>{{ drug_count | default_if_none:'0' }}</td>
        </tr>
        <tr>
          <td>DISEASES </td>
          <td>{{ disease_count | default:'0' }}</td>
        </tr>
        <tr>
          <td>VARIANTS</td>
          <td>{{ variant_count | default_if_none:'0' }}</td>
        </tr>
      </table>

    </div>

    <div class="page-section" id="2_0">
      <h3 class="text-center">Graph</h3>

      <div class="col-md-8">
        <canvas id="myChart" width="200" height="100"></canvas>


      </div>
    </div>


    <div class="page-section" id="2_1">
      <h3 class="text-center">Sample Graphs</h3>
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="graph1-tab" data-toggle="tab" href="#graph1" role="tab"
                aria-controls="graph1" aria-selected="true">Graph 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="graph2-tab" data-toggle="tab" href="#graph2" role="tab" aria-controls="graph2"
                aria-selected="false">Graph 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="graph3-tab" data-toggle="tab" href="#graph3" role="tab" aria-controls="graph3"
                aria-selected="false">Graph 3</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="graph1" role="tabpanel" aria-labelledby="graph1-tab">
              <div class="col-md-8">

                <canvas id="myChart01" width="200" height="100"></canvas>
              </div>
            </div>
            <div class="tab-pane fade" id="graph2" role="tabpanel" aria-labelledby="graph2-tab">

              <div class="col-md-8">
                <canvas id="myChart02" width="200" height="100"></canvas>
              </div>
            </div>
            <div class="tab-pane fade" id="graph3" role="tabpanel" aria-labelledby="graph3-tab">
              <div class="col-md-8">
                <canvas id="myChart03" width="200" height="100"></canvas>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




    <div class="page-section" id="2">
      <h3 class="text-center">Data Distribution</h3>
      <div class="row">
        <div class="col-3">
          <script type="text/javascript">
            function map_init(map, options) {
              $.ajax({
                url: "/summary/countries",
                dataType: "json",
                data: {
                },
                success: function (data) {
                  // console.log(data);
                  data.forEach(el => {
                    let text = "Country: " + el.country + "<br/>Total No.: " + el.count
                    let marker = L.marker([el.latitude, el.longitude]);
                    marker.bindTooltip(text, { permanent: false, className: "count-label", offset: [0, 0] });
                    marker.addTo(map);
                  });
                },
                error: function (e) {
                  console.log(e);
                }
              });
              map.setView([-0.6605788, 14.8965794], 3);
            }
          </script>
          {% leaflet_map "mapd" callback="window.map_init" %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<script>

  $(document).ready(function () {
    $('a[href*=#]').bind('click', function (e) {
      e.preventDefault(); // prevent hard jump, the default behavior

      var target = $(this).attr("href"); // Set the target as variable

      // perform animated scrolling by getting top-position of target-element and set it as scroll target
      $('html, body').stop().animate({
        scrollTop: $(target).offset().top
      }, 600, function () {
        location.hash = target; //attach the hash (#jumptarget) to the pageurl
      });

      return false;
    });
  });

  $(window).scroll(function () {
    var scrollDistance = $(window).scrollTop();

    // Show/hide menu on scroll
    //if (scrollDistance >= 850) {
    //		$('nav').fadeIn("fast");
    //} else {
    //		$('nav').fadeOut("fast");
    //}

    // Assign active class to nav links while scolling
    $('.page-section').each(function (i) {
      if ($(this).position().top <= scrollDistance) {
        $('.navigation a.active').removeClass('active');
        $('.navigation a').eq(i).addClass('active');
      }
    });
  }).scroll();

</script>