{% extends 'mainLayout.html' %}
{% load static %}
{% block title %} Tools and Pipelines{% endblock %}
{% block content %}

<h3 class="text-center">Tools and Pipelines</h3>

<div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="font-weight-normal">Name</th>
                <th scope="col" class="font-weight-normal">Resource Type</th>
                <th scope="col" class="font-weight-normal">Description</th>
            </tr>
        </thead>
        <tr>
            <td><a target="_blank" href=http://www.scandb.org />SCAN </a> </td>
            <td>Data Analysis Tool</td>
            <td>SNP annotation, GWAS analysis tool</td>
        </tr>

        <tr>
            <td><a target="_blank" href=https://omictools.com/pharmacogenetics-category>Pharmacogenomic Software
                    Tools</a>
            </td>
            <td>Data Analysis Tool</td>
            <td>Various tools for pharmacogenomics data analysis.</td>
        </tr>

        <tr>
            <td><a target="_blank" href=https://www.pharmgkb.org/page/pharmcat>PharmCAT </a> </td>
            <td>Data Analysis Tool
            </td>
            <td>Pharmacogenomics Clinical Annotation Tool</td>
        </tr>
    </table>
</div>

{% endblock %}