 {% extends 'mainLayout.html' %} 
 <head>
  <title>Data Table Example</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.jqueryui.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.jqueryui.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.jqueryui.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.jqueryui.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.js"></script>

  </head>

{% block title %} Variant Drug Associations {% endblock %}


{% block banner %}

{% include 'partials/banner_results.html' %}

{% endblock %}

{% block content %}
<!-- Initialize DataTables -->
 trial page
{{variantagmp}}
<hr>
<p><h3>Variant-Disease Associations</h3></p>

<div class="table-responsive-sm">
<table id="example" class="table table-striped table-bordered">
  <thead>
      <tr>
          <th>Variant</th>
          <th>Disease</th>
          <th>Significance</th>
          <th>Region</th>
          <th>Country</th>
          <th>Study</th>
      </tr>
  </thead>
  <tbody>
 {% for my_object in object_list %}
      <tr>
          <td>{{my_object.variantagmp.rs_id }}</td>
          <td>{{my_object.variantagmp.phenotypeagmp.name}}</td>
            <td>{{my_object.p_value}}
        </td>
          <td>{{my_object.geographical_regions}}</td>
          <td>{{my_object.country_participant}}</td>
          <td><a href="https://pubmed.ncbi.nlm.nih.gov/{{my_object.studyagmp.publication_id}}">{{my_object.studyagmp.publication_id}}</a></td>
      </tr>
      {% endfor %}  
     
  </tbody>
</table>

</div>



<!-- Include required CSS and JS files -->
<script>
$(function () {

$('#example').DataTable({
    dom: 'lBfrtiBp',
    buttons: ['copy', 'excel', 'csv', 'pdf' ]
});

});

</script>

{% endblock %}