 {% extends 'mainLayout.html' %} 
 {% load static %}

{% block title %} Variant Drug Associations {% endblock %}


{% block banner %}

{% include 'partials/banner_results.html' %}

{% endblock %}

{% block content %}
<!-- Initialize DataTables -->

<h3>{{data.drug_name}} </h3><hr>

<p><b>Drug:</b> {{data.drug_name}}</p>

<p><b>Drug bank ID:</b> <a href="https://go.drugbank.com/drugs/{{data.drug_bank_id}}">{{data.drug_bank_id}}</a></p>

<p><b>Indication:</b> {{data.indication}} </p>

<p><h3>Variant-Drug Associations</h3></p>
<div class="table-responsive-sm">
<table id="example" class="table table-striped table-bordered">
  <thead>
      <tr>
          <th>Variant</th>
          <th>Gene </th>
          <th>Drug</th>
          <th>Significance</th>
          <th>Region</th>
          <th>Country</th>
          <th>Study</th>
      </tr>
  </thead>
  <tbody>
 {% for my_object in object_list %}
      <tr>
          <td>{{my_object.variantagmp.rs_id }}</td>
          <td><a href="/PhamacogeneDrugAssoc/{{my_object.variantagmp.geneagmp.gene_id }}"> {{my_object.variantagmp.geneagmp.gene_id }}</a>
            <td>{{my_object.variantagmp.drugagmp.drug_name}}
          <td>{{my_object.p_value}}
        </td>
        <td>{{my_object.geographical_regions}}
        </td>
          <td>{{my_object.country_participant}}</td>
          <td><a href="https://pubmed.ncbi.nlm.nih.gov/{{my_object.studyagmp.publication_id}}">{{my_object.studyagmp.publication_id}}</a></td>
      </tr>

      {% empty %}


      {% endfor %}  
      <!-- ... more rows ... -->
  </tbody>
</table>

</div>



<!-- Include required CSS and JS files -->


<script type="text/javascript">


$(document).ready(function() {
    function initializeTable(tableId, columnSelectId) {
        var table = $(tableId).DataTable({
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: [
                        {
                            extend: 'copy',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'csv',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdf',
                            exportOptions: {
                                columns: ':visible'
                            }
                        }
                    ]
                },
                'colvis'
            ],
            columnDefs: [{
                targets: '_all',
                visible: true // Display all columns by default
            }]
        });

        // Create checkboxes for column selection
        table.columns().every(function(index) {
            var column = this;
            var checked = column.visible() ? 'checked' : '';
            var checkbox = $('<label><input type="checkbox" ' + checked + '>' + $(column.header()).text() + '</label>');

            // Handle checkbox click event
            checkbox.find('input').on('click', function() {
                var isChecked = this.checked;
                column.visible(isChecked);
            });

            $(columnSelectId).append(checkbox);
        });
    }

    initializeTable('#example', '#columnSelect1');
    // initializeTable('#example3', '#columnSelect2');
});

 

</script>

{% endblock %}