{% extends "mainLayout.html" %}
{% load static %}
{% comment %} {% block title %} {% endcomment %}
{% comment %} Welcome to the database {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}
{% comment %} {% endcomment %}



{% block banner %}


{% include 'partials/banner_search.html' %}

{% endblock %}
{% block content %}


<h1>Search Results</h1>
<form id="modelSelectForm">
    <input type="radio" name="model" value="model_a" checked> Model A </input>
    <input type="radio" name="model" value="model_b"> Model B </input>
    <input type="radio" name="model" value="model_c"> Model C </input> <br><br>
    <input type="text" name="lname" id="lname"><br><br>

</form>

<div id="modelDataContainer">
    <!-- Model data will be displayed here -->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initial data loading
        updateModelData();

        // Add event listener for radio button change
        document.getElementById('modelSelectForm').addEventListener('change', function() {
            updateModelData();
        });

        function updateModelData() {
            var selectedModel = document.querySelector('input[name="model"]:checked').value;

            // Make an AJAX request to get the updated model data
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/get_model_data/?model=' + selectedModel, true);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Update the model data container with the new data
                    document.getElementById('modelDataContainer').innerHTML = xhr.responseText;
                }
            };

            xhr.send();
        }
    });





</script>









{% endblock %}